block galleryAsideDesc
	//begin gallery-aside
	.gallery-aside
		.gallery-aside__item(style='background-image: url(img/content/gallery-1-sm.jpg)')
			.gallery-aside__text Lounge зона с кинотеатром под открытым небом
		.gallery-aside__item(style='background-image: url(img/content/gallery-2-sm.jpg)')
			.gallery-aside__text Детская зона
		.gallery-aside__item(style='background-image: url(img/content/gallery-3-sm.jpg)')
			.gallery-aside__text Бассейн
		.gallery-aside__item(style='background-image: url(img/content/gallery-4-sm.jpg)')
			.gallery-aside__text Wi-fi и офис на море
		.gallery-aside__item(style='background-image: url(img/content/gallery-5-sm.jpg)')
			.gallery-aside__text Наши мероприятия
	//end gallery-aside