block galleryAsideDesc
	//begin room-aside
	.room-aside
		.room-aside__item(style='background-image: url(img/content/gallery-2-sm.jpg)')
			.room-aside__text Детская зона
		.room-aside__item.is-active(style='background-image: url(img/content/gallery-1-sm.jpg)')
			.room-aside__text Lounge зона с кинотеатром под открытым небом
			button.room-aside__more(type='button') ПОДРОБНЕЕ
		.room-aside__item(style='background-image: url(img/content/gallery-3-sm.jpg)')
			.room-aside__text Бассейн
		.room-aside__item(style='background-image: url(img/content/gallery-4-sm.jpg)')
			.room-aside__text Wi-fi и офис на море
	//end room-aside