block galleryAside
	//begin gallery-aside
	.gallery-aside
		.gallery-aside__item(style='background-image: url(img/content/gallery-6-sm.jpg)')
			.gallery-aside__text Интерьер и экстерьер Villa Capri
		.gallery-aside__item(style='background-image: url(img/content/gallery-7-sm.jpg)')
			.gallery-aside__text Территория Villa Capri
		.gallery-aside__item(style='background-image: url(img/content/gallery-8-sm.jpg)')
			.gallery-aside__text Наши экскурсии
		.gallery-aside__item(style='background-image: url(img/content/gallery-9-sm.jpg)')
			.gallery-aside__text Активный отдых
		.gallery-aside__item(style='background-image: url(img/content/gallery-10-sm.jpg)')
			.gallery-aside__text Наши мероприятия
	//end gallery-aside