block galleryAsideDesc2
	//begin room-aside
	.room-aside
		.room-aside__item(style='background-image: url(img/content/gallery-1-sm.jpg)')
			.room-aside__text Lounge зона с кинотеатром под открытым небом
		.room-aside__item(style='background-image: url(img/content/gallery-2-sm.jpg)')
			.room-aside__text Детская <br>зона
		.room-aside__item(style='background-image: url(img/content/gallery-3-sm.jpg)')
			.room-aside__text Бассейн
		.room-aside__item(style='background-image: url(img/content/gallery-4-sm.jpg)')
			.room-aside__text Wi-fi и офис на море
		.room-aside__item(style='background-image: url(img/content/gallery-5-sm.jpg)')
			.room-aside__text Наши мероприятия
	//end room-aside