block planAside
	//begin room-aside
	.room-aside
		.room-aside__item(style='background-image: url(img/content/gallery-8-sm.jpg)')
			.room-aside__text Понедельник <br>27.07.2017
		.room-aside__item.is-active(style='background-image: url(img/content/gallery-8-sm.jpg)')
			.room-aside__today-btn СЕГОДНЯ
			.room-aside__text Вторник <br>28.07.2017
			button.room-aside__more(type='button') ПОДРОБНЕЕ
		.room-aside__item(style='background-image: url(img/content/gallery-9-sm.jpg)')
			.room-aside__text Среда <br>29.07.2017
		.room-aside__item(style='background-image: url(img/content/gallery-10-sm.jpg)')
			.room-aside__text Четверг <br>30.07.2017
	//end room-aside