block restaurantAside
	//begin room-aside
	.room-aside
		.room-aside__item(style='background-image: url(img/content/gallery-item-10.jpg)')
			.room-aside__text Room <br>service
		.room-aside__item.is-active(style='background-image: url(img/bg/section-3-1.jpg)')
			.room-aside__text СВЕЖИЕ <br>МОРЕПРОДУКТЫ
			button.room-aside__more(type='button') ПОДРОБНЕЕ
		.room-aside__item(style='background-image: url(img/bg/section-3-2.jpg)')
			.room-aside__text Детское <br>меню
		.room-aside__item(style='background-image: url(img/bg/section-3-3.jpg)')
			.room-aside__text Десертное <br>меню
	//end room-aside