block restAside2
	//begin room-aside
	.room-aside.room-aside_no-arrow
		a.room-aside__item(style='background-image: url(img/content/1-sm.jpg)' href='#')
			.room-aside__text Быть в <br>гармонии <br>с собой
		a.room-aside__item.is-active(style='background-image: url(img/content/2-sm.jpg)' href='#')
			.room-aside__text БЕЖАТЬ НАВСТРЕЧУ <br>ВЕТРУ
			button.room-aside__more(type='button') ПОДРОБНЕЕ
		a.room-aside__item(style='background-image: url(img/content/3-sm.jpg)' href='#')
			.room-aside__text Выйти <br>сухим <br>из воды
		a.room-aside__item(style='background-image: url(img/content/4-sm.jpg)' href='#')
			.room-aside__text Долго <br>гнать <br>велосипед
	//end room-aside