//begin control
.control
	.control__item.control__item_prev
		.control__item-icon.icon.icon-arrow-prev
		.control__item-text Активный отдых и экскурсии
	.control__item.control__item_current
	.control__item.control__item_next
		.control__item-text 17 номеров с видом на море
		.control__item-icon.icon.icon-arrow-next
	.control__item.control__item_last
		.control__item-text Cредиземно-морская кухня
		.control__item-icon.icon.icon-arrow-next-double
//end control