block right
	//begin control
	.control.js-control
		// #1
		.control__item.control__item_current.js-control-current
			.control__item-icon.icon
			.control__item-text Европейский <br>отдых в <br>Крыму
		// #2
		.control__item.control__item_next.js-control-next
			.control__item-icon.icon
			.control__item-text 17 номеров <br>с видом на море
		// #3
		.control__item.control__item_last.js-control-next-double
			.control__item-icon.icon
			.control__item-text Cредиземно-морская кухня
		// #4
		.control__item.js-control-hidden
			.control__item-icon.icon
			.control__item-text Территория <br>Villa Capri
		// #5
		.control__item.control__item_prev.js-control-prev
			.control__item-icon.icon
			.control__item-text Активный отдых и экскурсии
	//end control