block roomAside
	block wtf
	//begin room-aside
	.room-aside
		a.room-aside__item(style='background-image: url(img/content/room-1-sm.jpg)' href='#')
			.room-aside__text DELUXE <br>№1
		a.room-aside__item.is-active(style='background-image: url(img/content/room-2-sm.jpg)' href='#')
			.room-aside__text DELUXE <br>№2
			button.room-aside__more(type='button')=moreBtnText
		a.room-aside__item(style='background-image: url(img/content/room-3-sm.jpg)' href='#')
			.room-aside__text DELUXE <br>№3
		a.room-aside__item(style='background-image: url(img/content/room-4-sm.jpg)' href='#')
			.room-aside__text DELUXE <br>№4
	//end room-aside