block tourAside
	//begin room-aside
	.room-aside
		a.room-aside__item(style='background-image: url(img/content/gallery-8-sm.jpg)' href='#')
			.room-aside__text Название <br>экскурсии <br>№1
		a.room-aside__item.is-active(style='background-image: url(img/bg/section-5-sm.jpg)' href='#')
			.room-aside__text Название <br>экскурсии <br>№2
			button.room-aside__more(type='button') ПОДРОБНЕЕ
		a.room-aside__item(style='background-image: url(img/content/gallery-9-sm.jpg)' href='#')
			.room-aside__text Название <br>экскурсии <br>№3
		a.room-aside__item(style='background-image: url(img/bg/section-5-3-sm.jpg)' href='#')
			.room-aside__text Название <br>экскурсии <br>№4
	//end room-aside