extend includes/_layout
block title
	title Галерея (с описанием)
block right
block body
	include includes/_galleryAsideDesc2
block content
	.page.page_full.page_gallery.gallery.js-move-wrapper
		.page__inner.page__gallery.gallery__inner.js-room-fullpage(style='background-image: url(../img/bg/gallery-bg.jpg)')
			.gallery__screen.js-room-page(style='background-image: url(../img/bg/gallery-bg.jpg);')
					.gallery__screen-inner
						.gallery__title-main LOUNGE ЗОНА <br>С КИНОТЕАТРОМ ПОД <br>ОТКРЫТЫМ НЕБОМ
						.gallery__subtitle-main Описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела описание раздела
						button.gallery__btn.js-gallery-btn(type='button')
			.gallery__content.gallery__bg.js-room-page.js-gallery-content.js-move-wrapper
				.gallery__item.gallery__item_2(style='background-image: url(img/content/gallery-item-1.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-1.jpg')
				.gallery__item.gallery__item_2(style='background-image: url(img/content/gallery-item-2.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-2.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-3.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-4.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-4.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-5.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-5.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-6.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-6.jpg')
			.gallery__content.gallery__bg.js-room-page.js-gallery-content.js-move-wrapper
				.gallery__item.gallery__item_2(style='background-image: url(img/content/gallery-item-1.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-1.jpg')
				.gallery__item.gallery__item_2(style='background-image: url(img/content/gallery-item-2.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-2.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-3.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-4.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-4.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-5.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-5.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-6.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-6.jpg')