extend includes/_layout
block title
	title Gallery
block right
block body
	include includes/_galleryAside
block content
	.page.page_full.page_gallery.gallery.js-move-wrapper
		.page__inner.page__gallery.gallery__inner
			.gallery__screen.js-gallery
			.gallery__content.js-gallery-content.is-active
				.gallery__item.gallery__item_2(style='background-image: url(img/content/gallery-item-7.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-7.jpg')
				.gallery__item.gallery__item_2(style='background-image: url(img/content/gallery-item-8.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-8.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-9.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-9.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-10.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-10.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-11.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-11.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-12.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-12.jpg')