extend includes/_layout
block title
	title Villa Capri
block content
	//begin section
	.section.section_1
		.content
			.content__inner
				.content__main
					.content__main-title VILLA CAPRI
					.content__main-text Европейский отдых в Крыму
	//end section

	//begin section
	.section.section_2
		.content
			.content__inner
				.content__left
					a.content__block.js-bg(style='background-image: url(img/bg/section-2-1-sm.jpg);' href='#' data-bg='section-2-1')
						.content__block-in
							.content__block-title SUITE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-2-2-sm.jpg);' href='#' data-bg='section-2-2')
						.content__block-in
							.content__block-title ROMANTIC
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-2-3-sm.jpg);' href='#' data-bg='section-2-3')
						.content__block-in
							.content__block-title ROMANTIC EXCLUSIVE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-2-4-sm.jpg);' href='#' data-bg='section-2-4')
						.content__block-in
							.content__block-title LUXE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-2-5-sm.jpg);' href='#' data-bg='section-2-5')
						.content__block-in
							.content__block-title DELUXE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(href='#')
						.content__block-in
							.content__block-text-border ВЫБРАТЬ <br>НОМЕР
				.content__main
					.content__main-title 17 НОМЕРОВ
					.content__main-text с видом на море
	//end section

	//begin section
	.section.section_3
		.content
			.content__inner
				.content__left
					a.content__block.js-bg(style='background-image: url(img/bg/section-3-1-sm.jpg);' href='#' data-bg='section-3-1')
						.content__block-in
							.content__block-title СВЕЖИЕ
							.content__block-price морепродукты
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-3-2-sm.jpg);' href='#' data-bg='section-3-2')
						.content__block-in
							.content__block-title WTF
							.content__block-price wtf
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-3-3-sm.jpg);' href='#' data-bg='section-3-3')
						.content__block-in
							.content__block-title ДЕСЕРТНОЕ
							.content__block-price меню
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-3-4-sm.jpg);' href='#' data-bg='section-3-4')
						.content__block-in
							.content__block-title ДЫМНЫЕ
							.content__block-price коктейли
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-3-5-sm.jpg);' href='#' data-bg='section-3-5')
						.content__block-in
							.content__block-title ROOM <br>SERVICE
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(href='#')
						.content__block-in
							.content__block-text-border УЗНАТЬ <br>БОЛЬШЕ
				.content__main
					.content__main-title УЮТНЫЙ<br> РЕСТОРАН
					.content__main-text средиземноморской<br> кухни
	//end section

	//begin section
	.section.section_4
		.content
			.content__inner
				.content__slider.js-slider
					.content__left
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-1-sm.jpg);' href='#' data-bg='section-4-1')
							.content__block-in
								.content__block-title АКВАЗОНА
								.content__block-price для детей и <br>взрослых
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-2-sm.jpg);' href='#' data-bg='section-4-2')
							.content__block-in
								.content__block-title ДЕТСКАЯ
								.content__block-price зона
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-3-sm.jpg);' href='#' data-bg='section-4-3')
							.content__block-in
								.content__block-title LOUNGE
								.content__block-price зона
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-4-sm.jpg);' href='#' data-bg='section-4-4')
							.content__block-in
								.content__block-title КИНОТЕАТР
								.content__block-price под открытым <br>небом
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-5-sm.jpg);' href='#' data-bg='section-4-5')
							.content__block-in
								.content__block-title ПАРКОВКА
								.content__block-price на территории <br>Villa Capri
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block(href='#')
							.content__block-in
								.content__block-text-border УЗНАТЬ <br>БОЛЬШЕ
					.content__left
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-1-sm.jpg);' href='#' data-bg='section-4-1')
							.content__block-in
								.content__block-title АКВАЗОНА
								.content__block-price для детей и <br>взрослых
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-2-sm.jpg);' href='#' data-bg='section-4-2')
							.content__block-in
								.content__block-title ДЕТСКАЯ
								.content__block-price зона
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-3-sm.jpg);' href='#' data-bg='section-4-3')
							.content__block-in
								.content__block-title LOUNGE
								.content__block-price зона
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-4-sm.jpg);' href='#' data-bg='section-4-4')
							.content__block-in
								.content__block-title КИНОТЕАТР
								.content__block-price под открытым <br>небом
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block.js-bg(style='background-image: url(img/bg/section-4-5-sm.jpg);' href='#' data-bg='section-4-5')
							.content__block-in
								.content__block-title ПАРКОВКА
								.content__block-price на территории <br>Villa Capri
							.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
						a.content__block(href='#')
							.content__block-in
								.content__block-text-border УЗНАТЬ <br>БОЛЬШЕ
				.content__main
					.content__main-title УЮТНЫЙ<br> РЕСТОРАН
					.content__main-text средиземноморской<br> кухни
	//end section

	//begin section
	.section.section_5
		.content
			.content__inner
				.content__left
					a.content__block.js-bg(style='background-image: url(img/bg/section-5-1-sm.jpg);' href='#' data-bg='section-5-1')
						.content__block-in
							.content__block-title ЭКСКУРСИИ
							.content__block-price по Крыму
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-5-2-sm.jpg);' href='#' data-bg='section-5-2')
						.content__block-in
							.content__block-title ВИДЫ
							.content__block-price активного <br>отдыха
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-5-3-sm.jpg);' href='#' data-bg='section-5-3')
						.content__block-in
							.content__block-title ГРУППОВЫЕ
							.content__block-price туры
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-5-4-sm.jpg);' href='#' data-bg='section-5-4')
						.content__block-in
							.content__block-title SUP-
							.content__block-price серфинг
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block.js-bg(style='background-image: url(img/bg/section-5-5-sm.jpg);' href='#' data-bg='section-5-5')
						.content__block-in
							.content__block-title ЙОГА
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(href='#')
						.content__block-in
							.content__block-text-border ВЫБРАТЬ <br>НОМЕР
				.content__main
					.content__main-title.content__main-title_sm ВОЗМОЖНОСТЬ УЗНАТЬ
					.content__main-text.content__main-text_sm больше о Крыме и<br> его красотах
					.content__main-title.content__main-title_sm А ТАКЖЕ АКТИВНО
					.content__main-text.content__main-text_sm отдохнуть
				.content__row-sub
					.content__sub
						.content__sub-text ОСТАЛИСЬ ВОПРОСЫ?
						.content__sub-text-sm Задайте их нашему администратору<br> по телефону +7 987 92 017 92<br> или напишите нам письмо
	//end section