extend includes/_layout
block title
	title Villa Capri
block content
	//begin section
	.section.section_1
		.content
			.content__main
				.content__main-title VILLA CAPRI
				.content__main-text Европейский отдых в Крыму
	//end section

	//begin section
	.section.section_2

	//end section

	//begin section
	.section.section_3

	//end section

	//begin section
	.section.section_4

	//end section

	//begin section
	.section.section_5

	//end section