extend includes/_layout
block title
	title Villa Capri
block content
	//begin section
	.section.section_1
		.content
			.content__inner
				.content__main
					.content__main-title VILLA CAPRI
					.content__main-text Европейский отдых в Крыму
	//end section

	//begin section
	.section.section_2
		.content
			.content__inner
				.content__left
					a.content__block(style='background-image: url(img/bg/section-2.jpg)' href='#')
						.content__block-in
							.content__block-title SUITE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(style='background-image: url(img/bg/section-2.jpg)' href='#')
						.content__block-in
							.content__block-title ROMANTIC
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(style='background-image: url(img/bg/section-2.jpg)' href='#')
						.content__block-in
							.content__block-title ROMANTIC EXCLUSIVE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(style='background-image: url(img/bg/section-2.jpg)' href='#')
						.content__block-in
							.content__block-title SUITE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(style='background-image: url(img/bg/section-2.jpg)' href='#')
						.content__block-in
							.content__block-title SUITE
							.content__block-price от 2990 ₽
						.content__block-desc УЗНАТЬ <br>БОЛЬШЕ
					a.content__block(href='#')
						.content__block-in
							.content__block-text-border ВЫБРАТЬ <br>НОМЕР
				.content__main
					.content__main-title 17 НОМЕРОВ
					.content__main-text с видом на море
	//end section

	//begin section
	.section.section_3

	//end section

	//begin section
	.section.section_4

	//end section

	//begin section
	.section.section_5

	//end section