extend includes/_layout
block title
	title План мероприятий
block right
block body
	include includes/_planAside
block content
	.page.page_full.page_gallery.gallery.js-move-wrapper
		.page__inner.page__gallery.gallery__inner.js-room-fullpage(style='background: url(img/bg/section-5-1.jpg)')
			.content.content_gallery.js-room-page(style='background-image: url(img/bg/section-5-1.jpg);')
				.content__inner
					.content__main.content__main_wide.content__main_plan.js-slider
						.content__plan-item
							.content__main-title.gallery__title.gallery__title_line ВТОРНИК 28.07.2017
							.content__plan-el.js-disable-scroll
								.content__plan-desc 9:00 - Зарядка
								.content__plan-desc 10:00 - Экскурсия по историческим местам
								.content__plan-desc 12:00 - Детский праздник
								.content__plan-desc 14:00 - Йога
								.content__plan-desc 16:00 - Велопрогулка
								.content__plan-desc 20:00 - Кино под открытым небом
								.content__plan-desc 22:00 Аниматор-шоу
								.content__plan-desc 23:00 - Дискотека
								.content__plan-desc ...
						.content__plan-item
							.content__main-title.gallery__title.gallery__title_line ВТОРНИК 28.07.2017
							.content__plan-el.js-disable-scroll
								.content__plan-desc 9:00 - Зарядка
								.content__plan-desc 10:00 - Экскурсия по историческим местам
								.content__plan-desc 12:00 - Детский праздник
								.content__plan-desc 14:00 - Йога
								.content__plan-desc 16:00 - Велопрогулка
								.content__plan-desc 20:00 - Кино под открытым небом
								.content__plan-desc 22:00 Аниматор-шоу
								.content__plan-desc 23:00 - Дискотека
								.content__plan-desc ...
						.content__plan-item
							.content__main-title.gallery__title.gallery__title_line ВТОРНИК 28.07.2017
							.content__plan-el.js-disable-scroll
								.content__plan-desc 9:00 - Зарядка
								.content__plan-desc 10:00 - Экскурсия по историческим местам
								.content__plan-desc 12:00 - Детский праздник
								.content__plan-desc 14:00 - Йога
								.content__plan-desc 16:00 - Велопрогулка
								.content__plan-desc 20:00 - Кино под открытым небом
								.content__plan-desc 22:00 Аниматор-шоу
								.content__plan-desc 23:00 - Дискотека
								.content__plan-desc ...
					.content__row
						.content__submain.content__submain_wide
							.content__options.options.options_gray
								.options__row.options__right.js-suboption
									a.options__item.js-gallery-btn(href='#')
										.options__icon.icon.icon-suboption-1
									a.options__item(href='#')
										.options__icon.icon.icon-suboption-4
			.gallery__content.gallery__bg.js-room-page.js-gallery-content.js-move-wrapper
				.gallery__item.gallery__item_2(style='background-image: url(img/bg/section-5-4.jpg)')
					.gallery__row
						a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-5-4.jpg')
						a.gallery__vk(href='#')
				.gallery__item.gallery__item_2(style='background-image: url(img/bg/section-5-5.jpg)')
					.gallery__row
						a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-5-5.jpg')
						a.gallery__vk(href='#')
				.gallery__item(style='background-image: url(img/bg/section-5-1.jpg)')
					.gallery__row
						a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-5-1.jpg')
						a.gallery__vk(href='#')
				.gallery__item(style='background-image: url(img/content/2.jpg)')
					.gallery__row
						a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/2.jpg')
						a.gallery__vk(href='#')
				.gallery__item(style='background-image: url(img/content/1.jpg)')
					.gallery__row
						a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/1.jpg')
						a.gallery__vk(href='#')
				.gallery__item(style='background-image: url(img/bg/section-5-3.jpg)')
					.gallery__row
						a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-5-3.jpg')
						a.gallery__vk(href='#')