extend includes/_layout
block title
	title Ресторан
block right
block body
	include includes/_restaurantAside
block content
	.page.page_full.page_gallery.gallery.js-move-wrapper
		.page__inner.page__gallery.gallery__inner.js-room-fullpage(style='background-image: url(img/bg/section-3-1.jpg)')
			.content.content_gallery.js-room-page(style='background-image: url(img/bg/section-3-1.jpg);')
				.content__inner
					.content__main.content__main_gallery
						.content__main-title.gallery__title СВЕЖИЕ<br> МОРЕПРОДУКТЫ
						.content__main-desc Описание раздела описание раздела описание раздела<br> описание раздела описание раздела описание<br> раздела описание раздела описание раздела описание<br> раздела описание раздела описание<br> раздела описание раздела<br> описание раздела
					.content__row
						.content__submain.content__submain_wide
							.content__options.options.options_gray
								.options__row.options__right.js-suboption
									a.options__item.js-gallery-btn(href='#')
										.options__icon.icon.icon-suboption-1
			.gallery__content.gallery__bg.js-room-page.js-gallery-content.js-move-wrapper
				.gallery__item.gallery__item_2(style='background-image: url(img/bg/section-3-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3-3.jpg')
				.gallery__item.gallery__item_2(style='background-image: url(img/bg/section-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-3.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-10.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-10.jpg')
				.gallery__item(style='background-image: url(img/bg/section-3-2.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3-2.jpg')
				.gallery__item(style='background-image: url(img/bg/section-3-5.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3-5.jpg')
			.gallery__content.gallery__bg.js-room-page.js-gallery-content.js-move-wrapper
				.gallery__item.gallery__item_2(style='background-image: url(img/bg/section-3-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3-3.jpg')
				.gallery__item.gallery__item_2(style='background-image: url(img/bg/section-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-3.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-3.jpg')
				.gallery__item(style='background-image: url(img/content/gallery-item-10.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/content/gallery-item-10.jpg')
				.gallery__item(style='background-image: url(img/bg/section-3-2.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3-2.jpg')
				.gallery__item(style='background-image: url(img/bg/section-3-5.jpg)')
					.gallery__item-text РЕСТОРАН VILLA CAPRI
					a.gallery__zoom-in.js-gallery-zoom(href='#' data-href='img/bg/section-3-5.jpg')