extend includes/_layout
block title
	title Активный отдых 2
block right
block body
	include includes/_restAside2
block content
	.page.page_full.page_gallery.gallery.js-move-wrapper
		.page__inner.page__gallery.rest__cover(style='background-image: url(img/bg/rest-bg.jpg)')
			.rest__content.gallery__content.gallery__bg
				.rest__inner.js-move-wrapper
					.rest__row
						.rest__col.rest__col_bg(style='background-image: url(img/content/rest-1.jpg)')
							.rest__map.content__options.options.options_full.options_rest
								.options__rest.options__rest_left
									.options__rest-btn
										span.icon.icon-geo-white
										span.options__rest-btn-text 3 км
								.options__rest-map.rest-map
									img.rest-map__temp-img(src='img/content/map.jpg' alt='temp')
								.options__right.options__right_rest
									.options__row
										.options__item.options__item_rest
											.options__item-text 1 км
										.options__item.options__item_rest.is-active
											.options__item-text 3 км
										.options__item.options__item_rest
											.options__item-text 5 км
									.options__row
										.options__item.options__item_rest
											.options__item-text 7 км
										.options__item.options__item_rest
											.options__item-text 9 км
										.options__item.options__item_rest
											.options__item-text 10 км
						.rest__col.rest__col_text
							.rest__title БЕЖАТЬ НАВСТРЕЧУ<br> ВЕТРУ
							.rest__subtitle Бег
							.rest__text Час бега равен одному шоколадному маффину.
							.rest__text Маршруты по уровню сложности.
					.rest__row
						.rest__col.rest__col_text
							.rest__title БЕЖАТЬ НАВСТРЕЧУ<br> ВЕТРУ
							.rest__subtitle Скандинавская<br> ходьба
							.rest__text Час бега равен одному шоколадному маффину.
							.rest__text Маршруты по уровню сложности.
						.rest__col.rest__col_bg(style='background-image: url(img/content/rest-2.jpg)')
							.rest__map.content__options.options.options_full.options_rest
								.options__right.options__right_rest
									.options__row
										.options__item.options__item_rest
											.options__item-text 1 км
										.options__item.options__item_rest.is-active
											.options__item-text 3 км
										.options__item.options__item_rest
											.options__item-text 5 км
									.options__row
										.options__item.options__item_rest
											.options__item-text 7 км
										.options__item.options__item_rest
											.options__item-text 9 км
										.options__item.options__item_rest
											.options__item-text 10 км
								.options__rest-map.options__rest-map_right.rest-map
									img.rest-map__temp-img(src='img/content/map.jpg' alt='temp')
								.options__rest.options__rest_left
									.options__rest-btn
										span.icon.icon-geo-white
										span.options__rest-btn-text 3 км