extend includes/_layout
block title
	title Экскурсии
block right
block body
	include includes/_tourAside
block content
	.page.page_full.page_room.room
		.page__inner.room__inner
			.room__bg(style='background-image: url(img/bg/section-5.jpg)')
			.content
				.content__inner
					.content__main.content__main_gallery
						.content__main-title.gallery__title НАЗВАНИЕ <br>ЭКСКУРСИИ №2
						.content__main-price Стоимость:&nbsp;
							span.content__main-price-color от 5000 руб.
						.content__main-desc Краткое описание экскурсии краткое <br>описание экскурсии краткое описание экскурси <br>краткое описание экскурсии краткое описание <br>экскурсии
					.content__row
						.content__options.options
							.options__right
								.options__row
									.options__item
										.options__icon.icon.icon-tour-1
									.options__item
										.options__icon.icon.icon-tour-2
									.options__item
										.options__icon.icon.icon-tour-3
								.options__row
									.options__item
										.options__icon.icon.icon-tour-4
									.options__item
										.options__icon.icon.icon-tour-5
									.options__item
										.options__icon.icon.icon-tour-6